.layout {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    display: flex;
}
.todo-container {
    background-color: aqua;
    width: 20%;
    height: 100%;
}
.app-container {
    width: 70vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}
/* calendar */
/* calendar component */
.calendar-container {
    flex-grow: 1;
    background-color: rgb(127, 184, 127);
}

/* calendar-header */

.calendar-date-header {
    display: flex;
    height: 30px;
    background-color: green;
}

.calendar-date-component {
    width: 14.2857143%;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    border: 0.1px solid #333333;
    font-size: 1.5rem;
    line-height: 25px;
}

.calendar-date-component:nth-child(odd) {
    border-left: none;
    border-right: none;
}

.date-weekday {
    color: black;
}

.date-sun {
    color: tomato;
}

.date-sat {
    color: skyblue;
}

/* calendar date */
.calendar-day-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.calendar-day {
    box-sizing: border-box;
    position: relative;
    flex-basis: 14.2857143%;
    border: 0.1px solid #333333;
    border-top: none;
    background-color: rgb(225, 224, 224);
}

.calendar-week {
    display: flex;
    flex-grow: 1;
}

.calendar-day:nth-child(odd) {
    border-left: none;
    border-right: none;
}

.calendar-day-label {
    display: inline-block;
    height: 110px;
    font-size: 1rem;
    box-sizing: border-box;
    padding-top: 2px;
    padding-left: 125px;
    line-height: 25px;
    top: 5px;
    right: 5px;
}

.date-weekday-label {
    color: rgb(71, 71, 71);
}

.date-notThisMonth {
    color: white;
}
/* header */
.header-container {
    flex-basis: 50px;
    background-color: rgb(224, 215, 202);
    display: flex;
}

.move-button {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.icon {
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.arrow-left {
    background-image: url('./arrow_left.png');
}

.arrow-right {
    background-image: url('./arrow_right.png');
}

.header-middle {
    line-height: 50px;
}

.header-YearMonth {
    box-sizing: border-box;
    padding-left: 50px;
    flex-grow: 1;
}

.header-buttons {
    flex-basis: 120px;
    padding-left: 0;
    padding-top: 4px;
    display: block;
    list-style-type: none;
    margin: 0;
}

.header-buttons li {
    float: left;
    font-size: 90px;
}

/* todo calendar header */
.todoHeader-container {
    flex-basis: 50px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;
}
.todoHeader {
    box-sizing: border-box;
}

.todoHeader-today {
    box-sizing: border-box;
    padding-left: 40px;
}
